{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 versions"
          ]
        },
        "model": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}